.background {
  background-image: url(https://www.deccanherald.com/sites/dh/files/articleimages/2020/06/02/2020-05-31T120753Z_167021825_RC2OZG9IPGDX_RTRMADP_3_SPACE-EXPLORATION-SPACEX-LAUNCH-RUSSIA-2-1591064260.jpg);
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
}
