.wrapperbackground {
  background-image: url(https://preview.redd.it/a5bl3cvka6o41.jpg?width=960&crop=smart&auto=webp&s=53e93f0975c2b13a4cf8a7724d1fbcd1d3e7bea8);
  background-size: cover;
  background-repeat: no-repeat;
}
